[alias]
  unstage = reset HEAD --
  graph = log --graph --pretty=oneline --decorate --abbrev-commit
  changeids = !git log --abbrev-commit --format=fuller | egrep \"(^commit [0-9a-z]*$)|(^ *Change-Id: I[0-9a-z]*$)\" | less
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = /Users/deshwal/bin/vimdiff $LOCAL $REMOTE
[color]
  ui = true
  branch = true
  diff = true
  interactive = true
[format]
  pretty = short
[user]
  name = deshwal
  email = deshwal@compass.com
[core]
  preloadindex = true
