[alias]
	unstage = reset HEAD --
	graph = log --graph --pretty='%C(yellow)%h %Cblue%aN%C(auto)%d %Creset%s       ... %C(cyan)%cd' --date=relative --decorate --abbrev-commit
  cherrypick = cherry-pick
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = ~/bin/vimdiff $LOCAL $REMOTE
[color]
  ui = true
  branch = true
  diff = true
  interactive = true
[format]
  pretty = short
[user]
  name = deshwal
  email = priyendra@gmail.com
[core]
  preloadindex = true
  editor = vim
[push]
	default = nothing
[merge]
	conflictstyle = diff3
