<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CloseBookmarksWindowAfterOpening</key>
	<true/>
	<key>Command</key>
	<string></string>
	<key>Custom Color Presets</key>
	<dict>
		<key>DeshwalBlack</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.42260104417800903</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.44074693322181702</real>
				<key>Red Component</key>
				<real>0.92913752794265747</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.018331613391637802</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.11404336243867874</real>
				<key>Red Component</key>
				<real>0.030049985274672508</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.036422267556190491</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.18337592482566833</real>
				<key>Red Component</key>
				<real>0.2220226526260376</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.32445836067199707</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.081077389419078827</real>
				<key>Red Component</key>
				<real>0.022521952167153358</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.36791390180587769</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.017584068700671196</real>
				<key>Red Component</key>
				<real>0.1803191602230072</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18745803833007812</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.1675485372543335</real>
				<key>Red Component</key>
				<real>0.056336887180805206</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.031372550874948502</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.031372550874948502</real>
				<key>Red Component</key>
				<real>0.031372550874948502</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.68706780672073364</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.97316807508468628</real>
				<key>Red Component</key>
				<real>0.63229578733444214</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.51444262266159058</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92164713144302368</real>
				<key>Red Component</key>
				<real>0.96996062994003296</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96079331636428833</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.66227108240127563</real>
				<key>Red Component</key>
				<real>0.56254732608795166</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96071237325668335</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.53570866584777832</real>
				<key>Red Component</key>
				<real>0.72950685024261475</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.95008927583694458</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.89815431833267212</real>
				<key>Red Component</key>
				<real>0.58400702476501465</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.13992193341255188</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13997775316238403</real>
				<key>Red Component</key>
				<real>0.14267924427986145</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.65245050191879272</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.65258514881134033</real>
				<key>Red Component</key>
				<real>0.65912371873855591</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0090821459889411926</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.015384507365524769</real>
				<key>Red Component</key>
				<real>0.17197471857070923</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.14500156044960022</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25274839997291565</real>
				<key>Red Component</key>
				<real>0.91916567087173462</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999672174453735</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50978571176528931</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.28430497646331787</real>
				<key>Red Component</key>
				<real>0.90633875131607056</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99078255891799927</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92049425840377808</real>
				<key>Red Component</key>
				<real>0.7486235499382019</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999672174453735</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70933455228805542</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.3533596396446228</real>
				<key>Red Component</key>
				<real>0.14659219980239868</real>
			</dict>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41793602705001831</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.1229533925652504</real>
				<key>Red Component</key>
				<real>0.033169388771057129</real>
			</dict>
		</dict>
		<key>DeshwalWhite</key>
		<dict>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.49650460481643677</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.19064140319824219</real>
				<key>Red Component</key>
				<real>0.84185868501663208</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.87464207410812378</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.9767645001411438</real>
				<key>Red Component</key>
				<real>0.82775968313217163</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.82464414834976196</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.96254807710647583</real>
				<key>Red Component</key>
				<real>0.97893399000167847</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.98516517877578735</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.93575233221054077</real>
				<key>Red Component</key>
				<real>0.92086797952651978</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96192318201065063</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.82590323686599731</real>
				<key>Red Component</key>
				<real>0.88777357339859009</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.98212987184524536</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.95563310384750366</real>
				<key>Red Component</key>
				<real>0.80397886037826538</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.26718750596046448</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.49626874923706055</real>
				<key>Red Component</key>
				<real>0.24259799718856812</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.14920210838317871</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.41053414344787598</real>
				<key>Red Component</key>
				<real>0.72860091924667358</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.88384270668029785</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.36493074893951416</real>
				<key>Red Component</key>
				<real>0.20380756258964539</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.75977122783660889</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.14031797647476196</real>
				<key>Red Component</key>
				<real>0.50766319036483765</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.63973373174667358</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.57624989748001099</real>
				<key>Red Component</key>
				<real>0.25672426819801331</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.90196079015731812</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.90196079015731812</real>
				<key>Red Component</key>
				<real>0.90196079015731812</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.37647056579589844</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.37647056579589844</real>
				<key>Red Component</key>
				<real>0.37647053599357605</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84614342451095581</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.84897321462631226</real>
				<key>Red Component</key>
				<real>0.97455745935440063</real>
			</dict>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.14500156044960022</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25274839997291565</real>
				<key>Red Component</key>
				<real>0.91916567087173462</real>
			</dict>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.36188939213752747</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.24612635374069214</real>
				<key>Red Component</key>
				<real>0.87581902742385864</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99078255891799927</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92049425840377808</real>
				<key>Red Component</key>
				<real>0.7486235499382019</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999672174453735</real>
			</dict>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.84328973293304443</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.47564250230789185</real>
				<key>Red Component</key>
				<real>0.25434273481369019</real>
			</dict>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.2524116039276123</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.22707056999206543</real>
				<key>Red Component</key>
				<real>0.21782794594764709</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99362462759017944</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.93829590082168579</real>
				<key>Red Component</key>
				<real>0.870993971824646</real>
			</dict>
		</dict>
	</dict>
	<key>Default Bookmark Guid</key>
	<string>1ED3996D-2971-4667-B6A2-6C303669F185</string>
	<key>HapticFeedbackForEsc</key>
	<false/>
	<key>HideMenuBarInFullscreen</key>
	<true/>
	<key>HideScrollbar</key>
	<true/>
	<key>HotkeyMigratedFromSingleToMulti</key>
	<true/>
	<key>New Bookmarks</key>
	<array>
		<dict>
			<key>ASCII Anti Aliased</key>
			<true/>
			<key>Ambiguous Double Width</key>
			<false/>
			<key>Ansi 0 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Ansi 1 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.42260104417800903</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.44074693322181702</real>
				<key>Red Component</key>
				<real>0.92913752794265747</real>
			</dict>
			<key>Ansi 10 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.018331613391637802</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.11404336243867874</real>
				<key>Red Component</key>
				<real>0.030049985274672508</real>
			</dict>
			<key>Ansi 11 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.036422267556190491</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.18337592482566833</real>
				<key>Red Component</key>
				<real>0.2220226526260376</real>
			</dict>
			<key>Ansi 12 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.32445836067199707</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.081077389419078827</real>
				<key>Red Component</key>
				<real>0.022521952167153358</real>
			</dict>
			<key>Ansi 13 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.36791390180587769</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.017584068700671196</real>
				<key>Red Component</key>
				<real>0.1803191602230072</real>
			</dict>
			<key>Ansi 14 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.18745803833007812</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.1675485372543335</real>
				<key>Red Component</key>
				<real>0.056336887180805206</real>
			</dict>
			<key>Ansi 15 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.031372550874948502</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.031372550874948502</real>
				<key>Red Component</key>
				<real>0.031372550874948502</real>
			</dict>
			<key>Ansi 2 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.68706780672073364</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.97316807508468628</real>
				<key>Red Component</key>
				<real>0.63229578733444214</real>
			</dict>
			<key>Ansi 3 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.51444262266159058</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92164713144302368</real>
				<key>Red Component</key>
				<real>0.96996062994003296</real>
			</dict>
			<key>Ansi 4 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96079331636428833</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.66227108240127563</real>
				<key>Red Component</key>
				<real>0.56254732608795166</real>
			</dict>
			<key>Ansi 5 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.96071237325668335</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.53570866584777832</real>
				<key>Red Component</key>
				<real>0.72950685024261475</real>
			</dict>
			<key>Ansi 6 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.95008927583694458</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.89815431833267212</real>
				<key>Red Component</key>
				<real>0.58400702476501465</real>
			</dict>
			<key>Ansi 7 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.13992193341255188</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.13997775316238403</real>
				<key>Red Component</key>
				<real>0.14267924427986145</real>
			</dict>
			<key>Ansi 8 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.65245050191879272</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.65258514881134033</real>
				<key>Red Component</key>
				<real>0.65912371873855591</real>
			</dict>
			<key>Ansi 9 Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0090821459889411926</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.015384507365524769</real>
				<key>Red Component</key>
				<real>0.17197471857070923</real>
			</dict>
			<key>BM Growl</key>
			<true/>
			<key>Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.0</real>
				<key>Red Component</key>
				<real>0.0</real>
			</dict>
			<key>Background Image Location</key>
			<string></string>
			<key>Badge Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.5</real>
				<key>Blue Component</key>
				<real>0.14500156044960022</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.25274839997291565</real>
				<key>Red Component</key>
				<real>0.91916567087173462</real>
			</dict>
			<key>Blinking Cursor</key>
			<true/>
			<key>Blur</key>
			<false/>
			<key>Bold Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999672174453735</real>
			</dict>
			<key>Brighten Bold Text</key>
			<false/>
			<key>Character Encoding</key>
			<integer>4</integer>
			<key>Close Sessions On End</key>
			<true/>
			<key>Columns</key>
			<integer>80</integer>
			<key>Command</key>
			<string>/opt/homebrew/Cellar/bash/5.2.21/bin/bash</string>
			<key>Cursor Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.50978571176528931</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.28430497646331787</real>
				<key>Red Component</key>
				<real>0.90633875131607056</real>
			</dict>
			<key>Cursor Guide Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>0.25</real>
				<key>Blue Component</key>
				<real>0.99078255891799927</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.92049425840377808</real>
				<key>Red Component</key>
				<real>0.7486235499382019</real>
			</dict>
			<key>Cursor Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.99999994039535522</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.99999994039535522</real>
				<key>Red Component</key>
				<real>0.99999672174453735</real>
			</dict>
			<key>Cursor Type</key>
			<integer>0</integer>
			<key>Custom Command</key>
			<string>Custom Shell</string>
			<key>Custom Directory</key>
			<string>No</string>
			<key>Default Bookmark</key>
			<string>No</string>
			<key>Description</key>
			<string>Default</string>
			<key>Disable Window Resizing</key>
			<true/>
			<key>Draw Powerline Glyphs</key>
			<false/>
			<key>Flashing Bell</key>
			<false/>
			<key>Foreground Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Guid</key>
			<string>1ED3996D-2971-4667-B6A2-6C303669F185</string>
			<key>Horizontal Spacing</key>
			<real>1</real>
			<key>Idle Code</key>
			<integer>0</integer>
			<key>Jobs to Ignore</key>
			<array>
				<string>rlogin</string>
				<string>ssh</string>
				<string>slogin</string>
				<string>telnet</string>
			</array>
			<key>Keyboard Map</key>
			<dict>
				<key>0x2d-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x32-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x00</string>
				</dict>
				<key>0x33-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b</string>
				</dict>
				<key>0x34-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1c</string>
				</dict>
				<key>0x35-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1d</string>
				</dict>
				<key>0x36-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1e</string>
				</dict>
				<key>0x37-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1f</string>
				</dict>
				<key>0x38-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x7f</string>
				</dict>
				<key>0xf700-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2A</string>
				</dict>
				<key>0xf700-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5A</string>
				</dict>
				<key>0xf700-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6A</string>
				</dict>
				<key>0xf700-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x41</string>
				</dict>
				<key>0xf701-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2B</string>
				</dict>
				<key>0xf701-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5B</string>
				</dict>
				<key>0xf701-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6B</string>
				</dict>
				<key>0xf701-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x42</string>
				</dict>
				<key>0xf702-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2D</string>
				</dict>
				<key>0xf702-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5D</string>
				</dict>
				<key>0xf702-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6D</string>
				</dict>
				<key>0xf702-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x44</string>
				</dict>
				<key>0xf703-0x220000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2C</string>
				</dict>
				<key>0xf703-0x240000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5C</string>
				</dict>
				<key>0xf703-0x260000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;6C</string>
				</dict>
				<key>0xf703-0x280000</key>
				<dict>
					<key>Action</key>
					<integer>11</integer>
					<key>Text</key>
					<string>0x1b 0x1b 0x5b 0x43</string>
				</dict>
				<key>0xf704-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2P</string>
				</dict>
				<key>0xf705-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2Q</string>
				</dict>
				<key>0xf706-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2R</string>
				</dict>
				<key>0xf707-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2S</string>
				</dict>
				<key>0xf708-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[15;2~</string>
				</dict>
				<key>0xf709-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[17;2~</string>
				</dict>
				<key>0xf70a-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[18;2~</string>
				</dict>
				<key>0xf70b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[19;2~</string>
				</dict>
				<key>0xf70c-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[20;2~</string>
				</dict>
				<key>0xf70d-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[21;2~</string>
				</dict>
				<key>0xf70e-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[23;2~</string>
				</dict>
				<key>0xf70f-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[24;2~</string>
				</dict>
				<key>0xf729-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2H</string>
				</dict>
				<key>0xf729-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5H</string>
				</dict>
				<key>0xf72b-0x20000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;2F</string>
				</dict>
				<key>0xf72b-0x40000</key>
				<dict>
					<key>Action</key>
					<integer>10</integer>
					<key>Text</key>
					<string>[1;5F</string>
				</dict>
			</dict>
			<key>Link Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.70933455228805542</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.3533596396446228</real>
				<key>Red Component</key>
				<real>0.14659219980239868</real>
			</dict>
			<key>Match Background Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.0</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>1</real>
			</dict>
			<key>Mouse Reporting</key>
			<false/>
			<key>Name</key>
			<string>Default</string>
			<key>Non Ascii Font</key>
			<string>Monaco 12</string>
			<key>Non-ASCII Anti Aliased</key>
			<true/>
			<key>Normal Font</key>
			<string>Monaco 12</string>
			<key>Option Key Sends</key>
			<integer>0</integer>
			<key>Prompt Before Closing 2</key>
			<false/>
			<key>Right Option Key Sends</key>
			<integer>0</integer>
			<key>Rows</key>
			<integer>25</integer>
			<key>Screen</key>
			<integer>-1</integer>
			<key>Scrollback Lines</key>
			<integer>0</integer>
			<key>Selected Text Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>1</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>1</real>
				<key>Red Component</key>
				<real>0.99999994039535522</real>
			</dict>
			<key>Selection Color</key>
			<dict>
				<key>Alpha Component</key>
				<real>1</real>
				<key>Blue Component</key>
				<real>0.41793602705001831</real>
				<key>Color Space</key>
				<string>P3</string>
				<key>Green Component</key>
				<real>0.1229533925652504</real>
				<key>Red Component</key>
				<real>0.033169388771057129</real>
			</dict>
			<key>Send Code When Idle</key>
			<false/>
			<key>Shortcut</key>
			<string></string>
			<key>Silence Bell</key>
			<false/>
			<key>Sync Title</key>
			<false/>
			<key>Tags</key>
			<array/>
			<key>Terminal Type</key>
			<string>xterm-256color</string>
			<key>Thin Strokes</key>
			<integer>1</integer>
			<key>Transparency</key>
			<real>0.0</real>
			<key>Unlimited Scrollback</key>
			<true/>
			<key>Use Bold Font</key>
			<false/>
			<key>Use Bright Bold</key>
			<true/>
			<key>Use Italic Font</key>
			<true/>
			<key>Use Non-ASCII Font</key>
			<false/>
			<key>Vertical Spacing</key>
			<real>1.1200000000000001</real>
			<key>Visual Bell</key>
			<true/>
			<key>Window Type</key>
			<integer>12</integer>
			<key>Working Directory</key>
			<string>/Users/deshwal</string>
		</dict>
	</array>
	<key>OpenBookmark</key>
	<false/>
	<key>PointerActions</key>
	<dict>
		<key>Button,1,1,,</key>
		<dict>
			<key>Action</key>
			<string>kContextMenuPointerAction</string>
		</dict>
		<key>Button,2,1,,</key>
		<dict>
			<key>Action</key>
			<string>kPasteFromClipboardPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeDown,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevWindowPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeLeft,,</key>
		<dict>
			<key>Action</key>
			<string>kPrevTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeRight,,</key>
		<dict>
			<key>Action</key>
			<string>kNextTabPointerAction</string>
		</dict>
		<key>Gesture,ThreeFingerSwipeUp,,</key>
		<dict>
			<key>Action</key>
			<string>kNextWindowPointerAction</string>
		</dict>
	</dict>
	<key>Print In Black And White</key>
	<true/>
	<key>SoundForEsc</key>
	<false/>
	<key>StatusBarPosition</key>
	<integer>0</integer>
	<key>TabStyleWithAutomaticOption</key>
	<integer>5</integer>
	<key>VisualIndicatorForEsc</key>
	<false/>
	<key>WindowNumber</key>
	<false/>
	<key>findMode_iTerm</key>
	<integer>0</integer>
	<key>kCPKSelectionViewPreferredModeKey</key>
	<integer>0</integer>
	<key>kCPKSelectionViewShowHSBTextFieldsKey</key>
	<false/>
</dict>
</plist>
